<div class="container-fluid posts-index">
  <% if post.count == 0 %>
    <div class="text-center">現在投稿はありません</div>
  <% else %>
    <div class="row">
      <% post.each do |post| %>
        <div class="col-xl-4 col-sm-6 col-12">
          <%= link_to post_path(post.id), class: "text-decoration-none text-black" do %>
            <div class="user-liked-container">
              <%= image_tag post.image.url, class: "post_image w-100" %>
              <div class="card-body">
                <div class="post-user-detile d-flex mb-2">
                  <div class="post-show-user-icon me-3">
                    <% if post.user.image? %>
                      <%= image_tag post.user.image.url, class: "user-icon", width: '40px' ,height: '40px' %>
                    <% else %>
                      <%= image_tag "default_icon.jpeg", class: "user-icon", width: '40px' ,height: '40px' %>
                    <% end %>
                  </div>
                  <div class="post-show-user-name align-self-center"><%= post.user.name %></div>
                </div>
                <div class="card-title fs-5 no-underline">
                  <%= post.title %>
                </div>
                <div class="card-change mb-2 d-flex">
                  <% if post.change == "ちょい変" %>
                    <div class="badge bg-success me-auto"><%= post.change %></div>
                  <% else %>
                    <div class="badge bg-danger me-auto"><%= post.change %></div>
                  <% end %>
                  <div class="text-secondary me-1"><i class="fa-regular fa-heart"></i><%= post.favorites.count %></div>
                  <div class="text-secondary"><i class="fa-regular fa-comment"></i><%= post.comments.count %></div>
                </div>
                <div class="card-create d-flex justify-content-end text-secondary">
                  <%= post.created_at.to_s(:datetime_jp) %>
                </div>
                <div class="card-twitter mt-2 rounded d-flex justify-content-end">
                  <%= link_to "https://twitter.com/share?url=#{request.url}&text=私のスタバ、オススメカスタマイズは#{post.title}です。カスタマイズを研究したい方はこちら",
                  title: "Twitter", target: "_blank", class: "text-decoration-none text-white badge" do %>
                    <i class="fa-brands fa-twitter text-white"> ツイートする</i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
