<% provide(:title,  "投稿一覧") %>
<%= render partial: "carousel", locals: { all_ranks: @all_ranks } %>
<div class="container-fluid">
  <div class="row mx-2 pt-3">
    <% @posts.each do |post| %>
      <div class="col-sm-6 col-md-4 col-xl-3">
        <%= link_to post_path(post.id), class: "text-decoration-none text-black" do %>
          <div class="card">
            <%= image_tag post.image.url, class: "post_image w-100" %>
            <div class="card-body">
              <div class="post-user-detile d-flex mb-2">
                <div class="post-show-user-icon me-3">
                  <% if post.user.image? %>
                    <%= image_tag post.user.image.url, class: "user-icon", width: '40px' ,height: '40px' %>
                  <% else %>
                    <%= image_tag "default_icon.jpeg", class: "user-icon", width: '40px' ,height: '40px' %>
                  <% end %>
                </div>
                <div class="post-show-user-name align-self-center"><%= post.user.name %></div>
              </div>
              <div class="card-title fs-5 no-underline">
                <%= post.title %>
              </div>
              <div class="card-change mb-2 d-flex">
                <% if post.change == "ちょい変" %>
                  <div class="badge bg-success me-auto"><%= post.change %></div>
                <% else %>
                  <div class="badge bg-warning me-auto"><%= post.change %></div>
                <% end %>
                <div class="text-secondary me-1"><i class="fa-regular fa-heart"></i><%= post.favorites.count %></div>
                <div class="text-secondary"><i class="fa-regular fa-comment"></i><%= post.comments.count %></div>
              </div>
              <div class="card-create d-flex justify-content-end text-secondary">
                <%= post.created_at.to_s(:datetime_jp) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @posts %>
