<% provide(:title,  @post.title) %>
<div class="post-show-container py-4 px-3">
  <div class="mb-3 d-flex post-show-contents">
    <div class="fs-3 me-auto"><%= @post.title %></div>
    <div class="d-flex post-show-edits">
      <div class="me-4">
        <div id="favorite_buttons_<%= @post.id %>">
          <%= render "favorites/favorites", post: @post %>  
        </div>
      </div>
      <% if @post.user_id == current_user.id %>
        <div class="dropdown">
          <div class="fs-3" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-pen-to-square"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><%= link_to "編集する", edit_post_path(@post.id), class: "dropdown-item", type: "button" %></li>
            <li><%= link_to "削除する", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "dropdown-item", type: "button" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-12 mb-3">
      <%= image_tag @post.image.url, class: "post-show-image w-100" %>
      <div class="post-user-detile d-flex mt-4">
        <div class="post-show-user-icon me-3">
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.url, class: "user-icon", width: '75px' ,height: '75px' %>
          <% else %>
            <%= image_tag "default_icon.jpeg", class: "user-icon", width: '75px' ,height: '75px' %>
          <% end %>
        </div>
        <div class="post-show-user-name align-self-center fs-5"><%= @post.user.name %></div>
      </div>
    </div>
    <div class="col-md-1 col-12"></div>
    <div class="col-md-6 col-12 d-flex flex-column">
      <div class="mb-auto w-100 p-3 bg-white"><%= safe_join(@post.content.split("\n"),tag(:br)) %></div>
      <div class="d-flex justify-content-between mt-3">
        <% if @post.change == "ちょい変" %>
          <div class="change-circle-success text-white bg-success align-self-center text-center"><%= @post.change %></div>
        <% else %>
          <div class="change-circle-danger text-white bg-danger align-self-center text-center"><%= @post.change %></div>
        <% end %>
        <div class="post-show-detile">
          <p class="fs-5 d-flex justify-content-end">カスタマイズ料金: <%= @post.extra_fee %>円</p>
          <p class="fs-5 d-flex justify-content-end"><%= @post.created_at.to_s(:datetime_jp) %></p>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "comment", locals: { post: @post, comment: @comment } %>
</div>
